.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.content {
  background: white;
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.divider {
  height: 60px;
}